# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.benchmarks/
# Vite
.vite/
dist/
# React
build/
